<div class="widgetFrame">
	<div class="widgetBadgedPane widgetBox">
		<table style="border-spacing:4px 0px;">
			<tr style="vertical-align: top;">
				<td class="widgetTitle" width="100%">title</td>
				<td><div class="widgetButton wbMinimize" dojoAttachEvent="onclick:onMinClick" title="minimize"></div></td>
				<td><div class="widgetButton wbClose" dojoAttachEvent="onclick:onCloseClick" title="close"></div></td>
			</tr>
		</table>
		<div class="widgetHolder" dojoAttachPoint="containerNode">
		</div>
	</div>
	<div class="widgetBadge" dojoAttachEvent="onclick:onBadgeClick">
	</div>
</div>